{% load static %}

<div class="">
    <div class="">
        <div class="">
            <div class="">
                {% if superuser.profile.avatar %}
                <img src="{{ superuser.avatar.url }}" alt="{{ superuser.username }}"
                     class="rounded-circle mb-3 w-100">
                {% else %}
                <img src="{% static 'img/user.png' %}" alt="Default"
                     class="rounded-circle mb-3 w-100">
                {% endif %}
                <h5 class="">{{ superuser.first_name }}</h5>
                {% if superuser.last_name %}
                <p class="">{{ superuser.first_name }} {{ superuser.last_name }}</p>
                {% endif %}

                <!-- Теги внизу -->
                {% if tags.exists %}
                <div class="">
                    <h6>Теги:</h6>
                    <div class="">
                        {% for tag in tags.all %}
                        <span class="">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>