{% load static %}
{% load custom_tags %}

<!-- Custom CSS -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog/card_author.css' %}">
{% endblock styles %}

<div class="blog_right_menu">
    <div class="author_card">

        <!-- Данные по статье -->
        <div class="author_row">

            <!--Иконка автора -->
            <div class="author_icon">
                {% if article.author.avatar %}
                    <img src="{{ article.author.avatar.url }}">
                {% else %}
                    <img src="{% static 'img/user.png' %}">
                {% endif %}
            </div>

            <!-- Имя автора -->
            <div class="author_name">
                <div class="author_word">
                    Автор
                </div>
                <div class="author_name">
                    {% if article.author.last_name %}
                        {{ article.author.first_name }}_{{ article.author.last_name }}
                    {% else %}
                        {{ article.author.first_name }}
                    {% endif %}
                </div>
            </div>

            <!-- Статическая информация -->
            <div class="article_common">
                <div class="article_date">
                    {{ article.published|date:"d.m.Y" }}
                </div>
                <div class="article-static">
                    <span class="article-comment">💬 {{ article.comment.all.count }}</span>
                    <span class="article-count">
                        👁
                        {{ article.views }}
                    </span>
                </div>
            </div>

        </div>

        <!-- Данные по тегам -->
        {% if article.tags.exists %}
        <div class="tag_row">
            <div class="tag_word">
                Теги
            </div>
            <div class="tag_buttons">
                {% for tag in article.tags.all %}
                {% with rgb=tag.color|hex_to_rgb %}
                    <a href="{% url 'blog:article_list' %}?tag={{ tag.slug }}">
                        <span class="article-tag" style="background-color: rgba({{ rgb.0 }}, {{ rgb.1 }}, {{ rgb.2 }}, 0.15); color: {{ tag.color }};">
                            {{ tag.tag_name }}
                        </span>
                    </a>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>
