{% extends 'base.html' %}
{% load static %}

<!-- Custom CSS -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock styles %}

<!-- Список постов блога -->
{% block content %}
<div class="blog_container">
    <!-- Контентная строка: левое меню + статьи -->
    <div class="blog_content_row">
        <!-- Левая колонка с фильтрами -->
        <div class="blog_left_menu">
            {% include 'sidebar.html' %}
        </div>

        <!-- Правая колонка с постами -->
        <div class="blog_article_menu">
            {% for article in articles %}
                <!-- Карточка поста -->
                {% include 'blog/card_article.html' %}
            {% empty %}
                <h1>Пока не было постов!</h1>
            {% endfor %}

                    <!-- Пагинация -->
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link bg-dark border-secondary"
                               href="?page={{ page_obj.previous_page_number }}">
                                <i class="bi bi-chevron-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link {% if page_obj.number == num %}bg-primary{% else %}bg-dark text-light{% endif %} border-secondary"
                               href="?page={{ num }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link bg-dark text-light border-secondary"
                               href="?page={{ page_obj.next_page_number }}">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>
 </div>


    </div>
</div>
{% endblock %}

