/* popup_styles.css */

.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 1000; /* Убедитесь, что модальное окно отображается поверх всех элементов */
}

.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: -1; /* Фон должен быть под содержимым модального окна */
}

.modal-content {
  position: relative;
  width: 410px;
  height: 190px;
  background: #FFFFFF;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Начало содержимого сверху */
  align-items: flex-start; /* Выравнивание по левому краю */
  padding: 20px;
  box-sizing: border-box;
}

.modal-content h5 {
  align-self: flex-start; /* Размещение в левом верхнем углу */
  margin-top: 0;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #191615;
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  width: 100%;
  margin-top: auto; /* Перемещение вниз */
}

.cancel-button, .delete-button {
  box-sizing: border-box;
  width: 135px;
  height: 37px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  font-family: 'SuboleyaRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  transition: background 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для эффекта наведения */
}

.cancel-button {
  margin-left: auto; /* Перемещение кнопки вправо */
  background: #FCFAFA;
  border: 0.5px solid #191717;
  color: #191615;
}

.cancel-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.delete-button {
  background: #9B1C1C;
  color: #FFFFFF;
}

.delete-button:hover {
  background: #751313; /* Затемнение при наведении */
}

/* Основные стили для модального окна */
.popup-password {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content-password {
    position: relative;
    width: 516px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #838DD1;
    border-radius: 2px;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Стили для заголовка */
.popup-title-password {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #191615;
    margin-bottom: 20px;
}

/* Стили для групп ввода */
.popup-group-password {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.label-password {
    font-family: 'Suboleya', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #191615;
    margin-bottom: 5px;
}

.input-field-password {
    background: #FCFAFA;
    border: 1px solid #40446F;
    border-radius: 2px;
    padding: 10px;
    font-family: 'Suboleya', sans-serif;
    font-size: 16px;
}

/* Стили для кнопок */
.action-btn-password {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #838DD1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Suboleya', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 10px;
}

.action-btn-password:hover {
    opacity: 0.8;
}

.action-buttons-password {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-btn-password, .cancel-btn-password {
    width: 45%;
}

/* Стили для кнопки закрытия */
#closePopup-password {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
}

#closePopup-password:hover,
#closePopup-password:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для кнопки "Изменить пароль" */
.change-password-btn-password {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.change-password-btn-password:hover {
    background-color: #0056b3;
}
