<!doctype html>
<html lang="en">
{% load static %}

<head>
    {% block title %}
    <title></title>
    {% endblock title %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
          rel="stylesheet">

    <!-- Main CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>

    {% block css %}
    {% endblock css %}
</head>
<body>

<header>
    <!-- Навигация -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:home' %}">Главная</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Обо мне</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контент</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Блог</a></li>
                    <!-- Выпадающее меню -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/user.png' %}" alt="user" width="30px"
                                 height="30px">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>

                            {% if request.user.is_authenticated and request.user.is_admin %}
                                <li><a class="dropdown-item"
                                       href="#"
                                       target="_blank"
                                >Админка</a></li>
                            {% endif %}

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Выход
                            </a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Войти в
                                систему</a></li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
