{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home page</title>
{% endblock title %}

{% block css %}
{% endblock %}

{% block content %}
<!--ТУТ БУДЕТ ВСЕ ЧТО НАХОДИТСЯ В ЛЕНДИНГЕ. ВСЕ ЕГО БЛОКИ И ПРОЧАЯ ЛАБУДА-->

<!--Главная информация-->
{% include 'landing/maininf.html' %}

<!--Обо мне-->
{% include 'landing/aboutme.html' %}

<!--Услуги-->
{% include 'landing/products.html' %}

<!--Контент-->
{% include 'landing/contents.html' %}


<!-- В КОНЦЕ ВСЕГО ЛЕНДИНГА БУДЕТ ФУТЕР-->
<footer class="footer ">
    <div class="footer__top">
        <div class="footer__main _container ">
            <div class="footer__row">
                <a href="" class="footer__logo">
                    Logo
                </a>
                
                    <div class="footer_colums">
                    <div class="footer__column map-site">
                        <div class="footer_label">Карта сайта</div>
                        <nav class="footer__menu">
                            <ul class="menu-footer__list ">
                                <li class="menu-footer__item"><a href="" class="menu-footer__link">Главная</a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link">Услуги</a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link">Контент</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <div class="footer_label social">Мы в соцсетях</div>
                        <nav class="footer__menu">
                            <ul class="menu-footer__list">
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">Youtube канал</span> <span class="icon_f yotube_img"><img src="{% static 'img/YouTube - Dark.svg' %}" alt="" /></span> </a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">Youtube канал</span> <span class="icon_f yotube_img"><img src="{% static 'img/YouTube - Dark.svg' %}" alt="" /></span> </a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">VK</span> <span class="icon_f vk_img"><img src="{% static 'img/vk_footer.svg' %}" alt="" /></span> </a></li>
                                
                            </ul>
                        </nav>
                    </div>

                    <div class="footer__column">
                        <div class="footer_label telegram">Мы в Telegram</div>
                        <nav class="footer__menu">
                            <ul class="menu-footer__list">
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">@JunovNet</span> <span class="icon_f tg_img"><img src="{% static 'img/Telegram - Dark.svg' %}" alt="" /></span></a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">@Django School</span> <span class="icon_f tg_img"><img src="{% static 'img/Telegram - Dark.svg' %}" alt="" /></span></a></li>
                                <li class="menu-footer__item"><a href="" class="menu-footer__link"><span class="text_social">@JunovNet Community</span> <span class="icon_f tg_img"><img src="{% static 'img/Telegram - Dark.svg' %}" alt="" /></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>

<!-- Уведомление -->
{% if messages %}
<div id="notification-container"
     class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div class="toast align-items-center text-bg-success border-0 show"
         role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-autohide="true" data-bs-delay="7000">
        <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock content %}
