{% load static %}
<!-- Custom CSS -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog/sidebar.css' %}">
{% endblock styles %}

<!-- Поиск -->
    <form action="{% url 'blog:article_list' %}" method="get">
        <div class="blog_search">
            <input type="text" name="query" class="blog_search_input"
                   placeholder="Поиск материала" value="{{ request.GET.query|default:'' }}">
            <button class="blog_search_button" type="submit">Поиск</button>
        </div>
    </form>


    {% include 'blog/includes/cat_list.html' %}
