{% load static %}
<!-- Custom CSS -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog/sidebar.css' %}">
{% endblock styles %}

<!-- Поиск -->
<div class="sticky-top pt-4">
    <form action="{% url 'blog:article_list' %}" method="get">
        <div class="input-group mb-4">
            <input type="text" name="query" class="form-control bg-dark text-light border-secondary"
                   placeholder="Поиск материала" value="{{ request.GET.query|default:'' }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>
</div>
<div class="tags-section">
    {% include 'blog/tags.html' %}
</div>