{% load static %}
{% load custom_tags %}

<!-- Custom CSS -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog/comments.css' %}">
{% endblock styles %}

<!-- Количество комментариев -->
<p class="comment_counter">Комментарии: {{ article.comment.all.count }}</p>

<!-- Блок комментариев -->
<div class="comment_blocks">

    <!-- Если комментарии есть -->
    {% if parents_comments %}

        <!-- Форма добавления нового комментария -->
        <div class="comments_one_block">
            {% include 'blog/includes/add_comment.html' %}
        </div>

        <!-- Перечень комментариев -->
        {% for comment in parents_comments %}

            <!-- Родительский комментарий -->
            <div class="comments_one_block">
                <!-- Блок комментария -->
                {% include 'blog/includes/one_comment.html' %}

                <!-- Кнопка "Ответить" -->
                <div class="right_block">
                    <a href="#" data-comment-id="{{ comment.id }}" onclick="toggleCommentForm(this)">
                        <button class="send_button" type="button">Ответить</button>
                    </a>
                </div>
            </div>

            <!-- Форма добавления ответа на комментарий -->
            <div id="commentForm_{{ comment.id }}" class="comments_one_block hidden">
                {% include 'blog/includes/add_comment.html' with parent_comment=comment %}
            </div>

            <!-- Если есть ответы на родительский комментарий -->
            {% if comment.get_child_comments.exists %}
                <a href="#" class="see_more_link" onclick="showHideChildComments(event, '{{ comment.id }}')">
                    {% with count=comment.get_child_comments.count %}
                    Смотреть {{ count|pluralize_custom:"ответ" }}
                    {% endwith %}
                </a>

                <!-- Блок с ответами -->
                <div id="childComments_{{ comment.id }}" style="display: none;" class="comments_list">
                    {% for child_comment in comment.get_child_comments %}
                        <div class="answer_one_block">
                            <!-- Блок ответа -->
                            {% include 'blog/includes/one_comment.html' with comment=child_comment %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}

    {% else %}
        <!-- Если комментариев нет -->
        <p class="no_comments">Начните обсуждение этой статьи! Ваш комментарий будет первым.</p>

        <!-- Форма добавления нового комментария -->
        <div class="comments_one_block">
            {% include 'blog/includes/add_comment.html' %}
        </div>
    {% endif %}
</div>

<!-- Скрипт отображения формы ответа -->
<script>
function toggleCommentForm(element) {
    event.preventDefault();
    const commentId = element.dataset.commentId;
    const form = document.getElementById('commentForm_' + commentId);
    if (form) {
        form.classList.toggle('hidden');
    }
}
</script>

<!-- Скрипт отображения ответов -->
<script>
function showHideChildComments(event, commentId) {
    event.preventDefault();
    const commentsDiv = document.getElementById('childComments_' + commentId);
    if (commentsDiv) {
        commentsDiv.style.display = commentsDiv.style.display === "none" ? "block" : "none";
    }
}
</script>
