{% load static %}
{{ form.media }}  <!-- Подключение JS и CSS для MDEditor -->

<h2>Контент</h2>

<!-- Если в базе данных есть блоки Контент -->

{% if content_list %}

    <!-- Интерактивный режим для админа -->
    {% if user.is_admin %}
        {% for content in content_list %}
            <div class="content-div" style="cursor: pointer;" onclick="window.location.href='{% url 'landing:content_edit' pk=content.id %}'">
                <img src="{{ content.image.url }}">
                <h4>{{ content.title }}</h4>
                <p>{{content.text_html|safe}}</p>
                <a href="{{ content.link }}" target="_blank">
                    {{content.link_text}}
                </a>
                <br>
            </div>

            <!-- Удаление -->
            <a href="{% url 'landing:content_delete' pk=content.id %}">
                <img src="{% static 'img/delete_icon.png' %}" alt="Удалить" class="delete-icon" />
            </a>
            <br>

        {% endfor %}

    <!-- Режим просмотра для обычного пользователя -->
    {% else %}
        {% for content in content_list %}
            <img src="{{ content.image.url }}">
            <h4>{{ content.title }}</h4>
            <p>{{content.text_html|safe}}</p>
            <a href="{{ content.link }}" target="_blank">
                {{content.link_text}}
            </a>
            <br>
            <br>
        {% endfor %}
    {% endif %}

<!-- Если в базе данных нет блоков Контент -->
{% else %}
    <p>Блок Контент в процессе разработки...</p>
{% endif %}

<!-- Кнопка для админа для создания нового блока -->
{% if user.is_admin %}
    <a href="{% url 'landing:content_create' %}" class="btn btn-primary">Создать новый блок</a>
{% endif %}
