{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
<link href="{% static 'css/user.css' %}" rel="stylesheet"/>

<title>Создание пользователя</title>
{% endblock title %}

{% block content %}

    
      <div class="user-container">
        <div class="setting_t">
            
          <a href="{% url 'admin:list_users' %}" class="button_back">
            <img src="{% static 'img/chevron-left.svg' %}" alt="" />
          </a>
          <h3 class="title_user_btn">Создание пользователя</h3>
        </div>
        <form action="{% url 'admin:create-user' %}" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="info__about_user">
          <div class="colum1">

            <div class="upload">
                <input type="file" name="avatar" accept="image/*" id="id_avatar"
                class="hidden-file-input">
         
                {% if avatar %}
                    <!-- Если аватар есть -->
                    <label for="id_avatar" >
                        <img src="{{ avatar.url }}"
                        alt="avatar"
                        style="width: 100%; height: 100%; object-fit: cover;">
                    </label>
                {% else %}
                    <label for="id_avatar">
                        <!-- Если аватара нет -->
                         <div class ="control">
                        <h4 class="upload_text">2Mb<br />300x300 px.<br />Форматы: jpg, png.</h4>
                        <img src="{% static 'img/icon_upload.svg' %}" alt="Upload Icon" />
                        <h4 class="upload_text_bottum">Загрузка изображения</h4>
                    </label>
                </div >
                {% endif %}
             
            </div>

            <div class="error-message mt-0">
                {% if form.avatar.errors %}
                <span class="text-danger">{{ form.avatar.errors.0 }}</span>
                {% endif %}
            </div>
            <div class="check">
                <label> {{ form.is_active }} Активировать аккаунт</label>
                <label>{{ form.is_admin }} Администратор</label>
            </div>
            
          </div>

          <div class="colum2">
            <span class="name">Имя*</span>
                {{ form.first_name }}
                <div class="error-message mt-0">
                    {% if form.first_name.errors %}
                        <span class="text-danger">{{ form.first_name.errors.0 }}</span>
                    {% endif %}
                </div>
            <span class="name">Email*</span>
                {{ form.email }}
                <div class="error-message mt-0">
                    {% if form.email.errors %}
                        <span class="text-danger">{{ form.email.errors.0 }}</span>
                    {% endif %}
                </div>
          </div>

          <div class="colum3">
            <span class="name">Фамилия*</span>
                {{ form.last_name }}
                <div class="error-message mt-0">
                    {% if form.last_name.errors %}
                        <span class="text-danger">{{ form.last_name.errors.0 }}</span>
                    {% endif %}
                </div>

        <span class="name">Пароль*</span>
            {{ form.password }}
            <div class="error-message mt-0">
                {% if form.password.errors %}
                    <span class="text-danger">{{ form.password.errors.0 }}</span>
                {% endif %}
            </div>
          </div>
        </div>

        <div class="buttons">
         
            <div>
              <button class="cancel" href="{% url 'admin:list_users' %}">Отмена</button>
              <button class="save" type="submit">Создать</button>
            </div>
          
        </div>
      </div>
    </div>



{% endblock content %}
