{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
<link href="{% static 'css/user.css' %}" rel="stylesheet"/>

<title>Создание пользователя</title>
{% endblock title %}

{% block content %}

    
      <div class="user-container">
        <div class="setting_t">
          <a href="{% url 'admin:list_users' %}" class="back-link">←</a>
          <img src="{% static 'img/chevron-left.svg' %}" alt="" />
          </a>
          <h3 class="title_user_btn">Редактирование пользователя</h3>
        </div>
        <form action="{% url 'admin:edit-user' user.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="info__about_user">
            <div class="colum1">

                <div class="upload">
                    <input type="file" name="avatar" accept="image/*" id="id_avatar"
                    class="hidden-file-input">
             
                    {% if avatar %}
                        <!-- Если аватар есть -->
                        <div class="photo_user">
                            <label for="id_avatar" >
                                <img src="{{ avatar.url }}"
                                alt="avatar">
                            </label>
                        </div>
                    {% else %}
                        <label for="id_avatar">
                            <!-- Если аватара нет -->
                             <div class ="control">
                            <h4 class="upload_text">2Mb<br />300x300 px.<br />Форматы: jpg, png.</h4>
                            <img src="{% static 'img/icon_upload.svg' %}" alt="Upload Icon" />
                            <h4 class="upload_text_bottum">Загрузка изображения</h4>
                        </label>
                    </div >
                    {% endif %}
                 
                </div>
    
                <div class="error-message mt-0">
                    {% if form.avatar.errors %}
                    <span class="text-danger">{{ form.avatar.errors.0 }}</span>
                    {% endif %}
                </div>

                <h4 class="registration__date">
                    Дата регистрации <span class="date__reg">{{ date_joined|date:"d.m.Y" }}</span>
                  </h4>
                  <h4 class="registration__date">
                    Дата последнего входа <span class="date__reg">{% if user.last_login %}
                      {{ user.last_login|date:"d.m.Y H:i" }}
                  {% else %}
                      Не входил
                  {% endif %}</span>
                  </h4>
                <div class="check">
                    <label> {{ form.is_active }} Активировать аккаунт</label>
                    <label>{{ form.is_admin }} Администратор</label>
                </div>
                
              </div>

              <div class="colum2">
                <span class="name">Имя*</span>
                    {{ form.first_name }}
                    <div class="error-message mt-0">
                        {% if form.first_name.errors %}
                            <span class="text-danger">{{ form.first_name.errors.0 }}</span>
                        {% endif %}
                    </div>
                <span class="name">Email*</span>
                    {{ form.email }}
                    <div class="error-message mt-0">
                        {% if form.email.errors %}
                            <span class="text-danger">{{ form.email.errors.0 }}</span>
                        {% endif %}
                    </div>
              </div>
    
              <div class="colum3">
                <span class="name">Фамилия*</span>
                    {{ form.last_name }}
                    <div class="error-message mt-0">
                        {% if form.last_name.errors %}
                            <span class="text-danger">{{ form.last_name.errors.0 }}</span>
                        {% endif %}
                    </div>


              <span class="name">Пароль*</span>
              <input id="password" class="name-input" type="text" value="*********"
                       disabled>
              <div class="error-message mt-0">
                  {% if form.password.errors %}
                      <span class="text-danger">{{ form.password.errors.0 }}</span>
                  {% endif %}
              </div>
            <button class="change__pasword" 
                    id="change_password"
                    type="button" >Изменить пароль</button>
          </div>
        </div>

        <div class="buttons">
              <button class="delete">Удалить</button>
            <div>
              <a type="button" class="cancel" href="{% url 'admin:list_users' %}">Отмена</a>
              <button class="save"  type="submit">Сохранить</button>
            </div>
        </div>
      </div>
    </div>

    
    <!-- Попап с подтверждением удаления -->

    <div id="confirmation-popup" class="modal fade" tabindex="-1" aria-labelledby="confirmationPopupLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="confirmationPopupLabel">Подтвердите удаление</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                  <p>Данный аккаунт будет удален<br>
                      <b>{{ user }}</b>?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="cancel-button" data-bs-dismiss="modal">Отмена</button>
                  <button type="button" id="confirm-delete" class="delete-button">Удалить</button>
              </div>
          </div>
      </div>
  </div>




{% endblock content %}
