{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
<title>Список пользователей</title>
{% endblock title %}

{% block css %}

{% endblock %}
{% block content %}


<div class="main">
    <div class="header">
        <!-- Поиск -->
        <div class="search">
            <form method="get" id="searchForm">

                <input type="hidden" name="page_size" value="{{ request.GET.page_size }}">
                <input type="hidden" name="date_joined_from"
                       value="{{ request.GET.date_joined_from }}">
                <input type="hidden" name="date_joined_to" value="{{ request.GET.date_joined_to }}">
                <input type="hidden" name="last_login_from"
                       value="{{ request.GET.last_login_from }}">
                <input type="hidden" name="last_login_to" value="{{ request.GET.last_login_to }}">
                <input type="hidden" name="is_active" value="{{ request.GET.is_active }}">

                <input type="text" name="search" placeholder="Search"
                       value="{{ request.GET.search }}">
            </form>
        </div>

        <!-- Пагинация -->
        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&page_size={{ request.GET.page_size|default:'20' }}&search={{ request.GET.search|default:'' }}&date_joined_from={{ request.GET.date_joined_from|default:'' }}&date_joined_to={{ request.GET.date_joined_to|default:'' }}&last_login_from={{ request.GET.last_login_from|default:'' }}&last_login_to={{ request.GET.last_login_to|default:'' }}&is_active={{ request.GET.is_active|default:'' }}">
                <i class="fas fa-chevron-left"></i>
            </a>
            {% endif %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&page_size={{ request.GET.page_size|default:'20' }}&search={{ request.GET.search|default:'' }}&date_joined_from={{ request.GET.date_joined_from|default:'' }}&date_joined_to={{ request.GET.date_joined_to|default:'' }}&last_login_from={{ request.GET.last_login_from|default:'' }}&last_login_to={{ request.GET.last_login_to|default:'' }}&is_active={{ request.GET.is_active|default:'' }}">
                <i class="fas fa-chevron-right"></i>
            </a>
            {% endif %}
        </div>

        <!-- Форма для выбора количества записей на странице -->
        <form method="get" id="pageSizeForm" action="">

            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <input type="hidden" name="date_joined_from" value="{{ request.GET.date_joined_from }}">
            <input type="hidden" name="date_joined_to" value="{{ request.GET.date_joined_to }}">
            <input type="hidden" name="last_login_from" value="{{ request.GET.last_login_from }}">
            <input type="hidden" name="last_login_to" value="{{ request.GET.last_login_to }}">
            <input type="hidden" name="is_active" value="{{ request.GET.is_active }}">

            <label for="page_size"></label>
            <select name="page_size" id="page_size" onchange="this.form.submit()">
                <option value="10" {% if page_size == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if page_size == 20 %}selected{% endif %}>20</option>
                <option value="30" {% if page_size == 30 %}selected{% endif %}>30</option>
                <option value="40" {% if page_size == 40 %}selected{% endif %}>40</option>
                <option value="50" {% if page_size == 50 %}selected{% endif %}>50</option>
                <option value="all" {% if page_size == all %}selected{% endif %}>Все записи</option>
            </select>
        </form>

        <button class="btn">Создать</button>
    </div>

    <div class="content-admin-list-user">
        <div class="table-container">
            Количество всех пользователей: <b>{{ total_users }}</b>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Email</th>
                    <th>Дата регистрации</th>
                    <th>Дата последнего входа</th>
                    <th>Активный</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% if object_list %}
                    {% for user in object_list %}
                    <tr>
                        <td>{{ user.pk }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.las_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_joined|date:"d.m.Y" }}</td>
                        <td>{{ user.last_login|date:"d.m.Y H:i" }}</td>

                        {% if user.is_active %}
                        <td><input type="checkbox" checked=""></td>
                        {% else %}
                        <td><input type="checkbox"></td>
                        {% endif %}
                        <td>
                            <button class="edit-btn"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" style="text-align: center">Список пуст</td>
                </tr>
            {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Новый контейнер для блока фильтрации -->
        <div class="filter-container">
            <div class="filter">
                <h3 class="text-center">Фильтрация</h3>
                <form method="get" id="filterForm">

                    <input type="hidden" name="search" value="{{ request.GET.search }}">
                    <input type="hidden" name="page_size" value="{{ request.GET.page_size }}">

                    <label for="date_joined_from">Дата регистрации (от)</label>
                    <input type="date" id="date_joined_from" name="date_joined_from"
                           value="{{ request.GET.date_joined_from }}">

                    <label for="date_joined_to">Дата регистрации (до)</label>
                    <input type="date" id="date_joined_to" name="date_joined_to"
                           value="{{ request.GET.date_joined_to }}">

                    <label for="last_login_from">Дата последнего входа (от)</label>
                    <input type="date" id="last_login_from" name="last_login_from"
                           value="{{ request.GET.last_login_from }}">

                    <label for="last_login_to">Дата последнего входа (до)</label>
                    <input type="date" id="last_login_to" name="last_login_to"
                           value="{{ request.GET.last_login_to }}">

                    <div>
                        <label for="is_active">Активный</label>
                        <p class="my-0"><select name="is_active" id="is_active">
                            <option value=" {% if request.GET.is_active == '' %}selected{% endif %}">Все</option>
                            <option value=" 'True' {% if request.GET.is_active == 'True' %}selected{% endif %}">Активный</option>
                            <option value=" 'False' {% if request.GET.is_active == 'False' %}selected{% endif %}">Неактивный</option>
                        </select></p>
                    </div>

                    <button type="submit" class="btn my-2" id="filter-btn">Применить фильтр</button>
                    <a class="btn container-fluid" type="button" href="{% url 'admin:list_users' %}">Очистить
                        фильтр</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
