
{% load static %}



<h1>Добавить блок Контента</h1>

<!-- Форма -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Отображение ошибок формы -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте следующие ошибки:
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Поля формы -->
    {{ form.as_p }}

    <!-- Кнопка отправки -->
    <button type="submit">Сохранить</button>
</form>
